* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
}

.container {
    margin-top: 17px;
    width: 335px;
}

.first-paragraph {
    background-color: #569099;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 22px;
}

.second-paragraph {
    background-color: #CAD8D0;
    padding: 10px;
}
