* {
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient(45deg, #f6f6f6 0, #f6f6f6 5%, #fff 0, #fff 50%) 0 / 20px 20px;
}

.main {
    width: 330px;
    margin: 25px auto;
}

.header {
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header:hover::before {
    content: 'some ';
    font-style: italic;
    font-size: .5em;
}

.header:hover::after {
    content: ' by NobodyRocks';
    font-style: italic;
    font-size: .5em;
}

button {
    width: 100px;
    height: 100px;
    color: #fff;
    background-color: #3498db;
    font-size: 1.8em;
    border: 2px solid #fff;
    margin: 10px 0 0 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: .5s;
}

.highlight:hover {
    color: #3498db;
    background-color: #fff;
}

.fade:hover {
    opacity: 0;
}

.boom:hover {
    transform: scale(2);
    opacity: 0;
}

.focus:hover {
    border-width: 20px;
}

.rotate:hover {
    transform: rotate(90deg);
}

.knit:hover {
    height: 0;
}

.shrink:hover {
    transform: scale(0);
}

.squeeze:hover {
    transform: scale(1.5, 0);
}

.deform:hover {
    transform: skew(45deg, 45deg);
}