* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    background: #A0DFD1;
    padding: 9px;
    border: 1px solid #6AAD9E;
    border-radius: 4px;
    margin: 1px 3px;
    max-width: 298px;
}

.border {
    border: 1px solid #41C4A3;
}

.header {
    background: linear-gradient(to bottom, #FFD700, #FFC100);
    padding: 7px 9px;
    letter-spacing: .04em;
    position: relative;
}

.content {
    background: #EDECDE;
    color: #8CA3B4;
    font-size: .84em;
    padding: 12px 10px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #FFC100;
    position: absolute;
    top: 43px;
    left: 21px;
}