.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    position: relative;
}

.block,
.circle {
}

.block {
    width: 40px;
    height: 500px;
    background: silver;
}

.circle {
    background: maroon;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 40px;
    animation: bounsing 2s infinite linear;
}

@keyframes bounsing {
    from { left: 40px; }
    50% { left: 92.8%; }
    to { left: 40px; }
}