* {
    margin: 0;
    padding: 0;
}

.section {
    margin: 9px 3px;
    border: 2px solid #E5E5E5;
    width: 300px;
    height: 200px;
    background: radial-gradient(circle closest-side, #00BC9E 60px, #fff 30px) ;
}